#!/usr/bin/env bash

sleep 20;
COUNTER=0
{% for username in monero_users %}

# {{ username.email }}
THREADS="{{ username.threads }}"
PID=$(ps -eo pid,args | grep "{{ username.email }}" | grep -v grep | awk '$0=$1')
for i in $PID $(ls /proc/${PID}/task); do
    taskset -cp "$[0+(THREADS*COUNTER)]-$[(THREADS-1)+(THREADS*COUNTER)]" ${i}
done
COUNTER=$[COUNTER+1]

{% endfor %}
