BOT_TOKEN = '{{ telegram_token }}'
WEATHER_TOKEN = '{{ weather_token }}'
DATABASE_HOST = 'data/pybot.db'
MODE = 'Webhook' # Or Polling
WEBHOOK_PORT = {{ webhook_port }}
WEBHOOK_URL = "{{ webhook_url }}{}".format(BOT_TOKEN)
ADMINS = [ '{{ pybot_admin }}' ]
