seta net_enabled "1"
Config {
    Name = "MEGARAIL";
    Date = "3 Jul 2010";
    Author = "PANTSU";
}


Misc {
	$g_knockback = 1000;
	$g_friendlyfire = 0;
	$g_speed = 400;
	$g_gravity = 800;
    /* Physics
     *
     * Bitmask to modify physics behaviour. Available flags are:
     *
     * 1    PHYSICS_CONTROL_FORWARD     Enables forward physics control
     * 2    PHYSICS_CONTROL_SIDEWARD    Enables sideward physics control
     * 4    PHYSICS_CONTROL_STOP        Enables air stopping control
     * 8    PHYSICS_NO_RAMP_JUMPS       Disables ramp jumps
     *
     * A baseq3-alike physics config would have PHYSICS_NO_RAMP_JUMPS set as its value,
     * which is the same as 8, whereas a cpma-alike config would have PHYSICS_CONTROL_FORWARD | 
     * PHYSICS_CONTROL_SIDEWARD | PHYSICS_CONTROL_STOP, which is the same as 7 (1+2+4).
     **/
    $xp_physics = PHYSICS_CONTROL_FORWARD|PHYSICS_RAMP_JUMPS|PHYSICS_DOUBLE_JUMPS;

    /* Unlagged
     *
     * Bitmask to turn on/off unlagged specifically for each weapon. Available
     * flags include (they are self explanatory):
     *
     * 4     WP_MACHINEGUN
     * 8     WP_SHOTGUN
     * 16    WP_GRENADE_LAUNCHER
     * 32    WP_ROCKET_LAUNCHER
     * 64    WP_LIGHTNING
     * 128   WP_RAILGUN
     * 256   WP_PLASMAGUN
     * 512   WP_BFG
     * 1024  WP_GRAPPLING_HOOK
     * 
     * 0     WP_NONE
     * 2046  WP_ALL
     *
     * If you don't want to mess with these values, a value of 1 is the shorthand for WP_ALL,
     * which delags all weapons, including all projectiles. If you prefer old unlagged for
     * which only the hitscan weapons are delagged, use instead WP_MACHINEGUN | WP_SHOTGUN | 
     * WP_LIGHTNING | WP_RAILGUN, which is the same as 204 (4+8+64+128).
     **/
    //$xp_unlagged = 1;

    /* Solids
     *
     * Bitmask to control how the player interacts with other solid entities on the world.
     * Available flags are:
     *
     * 1    SOLIDS_PLAYER       Removes map clips, so you have access to more places on the map
     * 2    SOLIDS_BODY         Removes collisions with other players and bodies (including
     *                          frozen ones), useful for a faster-paced game and to remove
     *                          lagged collisions for high pingers
     * 4    SOLIDS_WEAPON       Removes weapon hit tests, so weapons will not hit an enemy,
     *                          useful on trick maps
     **/
    //$xp_solids = no;

    /* Warmup Respawn
     *
     * Controls what is respawned at the end of warmup time. Available flags are:
     *
     * 1    WARMUPRESPAWN_PLAYERS
     * 2    WARMUPRESPAWN_ITEMS
     *
     * To reproduce 1.03, you would like to disable this option.
     **/
    $xp_warmupRespawn = 0;

    /* You will start with this weapon in your hands
     *
     * If the weapon is not in your inventory when you respawn, then the highest available
     * weapon below your currently selected one will be used instead.
     *
     * WP_GAUNTLET
     * WP_MACHINEGUN
     * WP_SHOTGUN
     * WP_GRENADE_LAUNCHER
     * WP_ROCKET_LAUNCHER
     * WP_LIGHTNING
     * WP_RAILGUN
     * WP_PLASMAGUN
     * WP_BFG
     * WP_GRAPPLING_HOOK
     *
     * WP_LAST_USED
     **/
    Start Weapon = WP_LAST_USED;

    /* Weapons in your inventory
    *
    * WP_GAUNTLET
    * WP_MACHINEGUN
    * WP_SHOTGUN
    * WP_GRENADE_LAUNCHER
    * WP_ROCKET_LAUNCHER
    * WP_LIGHTNING
    * WP_RAILGUN
    * WP_PLASMAGUN
    * WP_BFG
    * WP_GRAPPLING_HOOK
    *
    * WP_NONE
    * WP_ALL
    **/
    Start Weapons = WP_GAUNTLET | WP_RAILGUN;

    /* Your powerups on every spawn
     *
     * PW_QUAD
     * PW_BATTLESUIT
     * PW_HASTE
     * PW_INVIS
     * PW_REGEN
     * PW_FLIGHT
     *
     * PW_NONE
     * PW_ALL
     **/
    Start Powerups = no;

    // Duration of start powerups
    Start Powerups Duration = 30;

    /* Map Weapons
     *
     * WP_MACHINEGUN
     * WP_SHOTGUN
     * WP_GRENADE_LAUNCHER
     * WP_ROCKET_LAUNCHER
     * WP_LIGHTNING
     * WP_RAILGUN
     * WP_PLASMAGUN
     * WP_BFG
     *
     * WP_NONE
     * WP_ALL
     **/
    Weapons = WP_NONE;

    /* Map Items
     *
     * IT_ARMOR_SHARD
     * IT_ARMOR_JACKET
     * IT_ARMOR_COMBAT
     * IT_ARMOR_BODY
     * IT_HEALTH_SMALL
     * IT_HEALTH
     * IT_HEALTH_LARGE
     * IT_HEALTH_MEGA
     * IT_TELEPORTER
     * IT_MEDKIT
     *
     * IT_NONE
     * IT_ALL
     **/
    Items = IT_ARMOR_SHARD|IT_ARMOR_COMBAT|IT_ARMOR_BODY|IT_MEDKIT;

    /* Map Ammos
     *
     * AM_BULLETS
     * AM_SHELLS
     * AM_GRENADES
     * AM_ROCKETS
     * AM_LIGHTNING
     * AM_SLUGS
     * AM_CELLS
     * AM_BFG
     *
     * AM_NONE
     * AM_ALL
     **/
    Ammos = AM_NONE;

    /* Map powerups
     *
     * PW_QUAD
     * PW_BATTLESUIT
     * PW_HASTE
     * PW_INVIS
     * PW_REGEN
     * PW_FLIGHT
     *
     * PW_NONE
     * PW_ALL
     **/
    Powerups = PW_QUAD|PW_BATTLESUIT|PW_INVIS|PW_REGEN|PW_HASTE;

    /* Enables the /drop command
     *
     * DR_FLAG          Enables /drop flag
     * DR_WEAPON        Enables /drop weapon [<weaponNum>]
     * DR_AMMO          Enables /drop ammo [<weaponNum>] [<amount>]
     * DR_POWERUP       Enables /drop powerup [<name>]
     * DR_HOLDABLE      Enables /drop holdable
     * DR_ARMOR         Enables /drop armor <amount>
     * DR_HEALTH        Enables /drop health <amount>
     *
     * DR_NONE
     * DR_ALL
     **/
    Drop Enable = DR_ALL;

    /* Spawn protection in seconds
     *
     *   0 - No protection
     * > 0 - Dual way protection. No points or freezes for spawnkills
     * < 0 - Shield protection
     **/
    Spawn Protection = -0.5;

    /* Weapon change time in milliseconds
     *
     * Settings for modifying the behavior of weapon switch time
     *
     * Converstion from 1.03
     *
     *      SwitchTime = 150;        Dropping = -150;
     *                               Raising = -1 - 100;
     *                               Ammo = -150 - 100;
     *
     *      SwitchTime = -150;       Dropping = 150;
     *                               Raising = 150;
     *                               Ammo = 150 + 100;
     **/
    Weapon Time {
        /* How long does it take to stow away the current weapon
         *
         * > 0 - Adds (value - 1) to the current time
         * < 0 - Sets (+value - 1) as the current time. This allows switching even just
         *       after firing the weapon
         *   0 - Same as 201
         **/
        Dropping = -100;

        /* How long does it take to pull out the next weapon
         *
         * > 0 - Adds (value - 1) to the current time. In combination with negative
         *       dropping weapon times, you can use this when you want to allow
         *       a weapon switch to bypass the weapon reload time
         * < 0 - Adds the maximum of (+value - 1) and global weapon time to the current 
         *       time, so the switch will not bypass the weapon reload time
         *   0 - Same as 251
         **/
        Raising = -101;

        /* Out of Ammo slowdown
         *
         * 0 - Same as 501
         **/
        Ammo = -200;

        /* How long does it take to start switching right after firing the weapon
         * 
         * Used only in combination with positive dropping weapon times, ignored otherwise
         *
         * 0 - Use weapon cycle time
         **/
        Shooting = 0;
    }

    // Multiple Air-Jumps
    Multi Jumps = 3;

    /* DM Flags
     *
     * Miscellaneous flags to modify several aspects of the game. Available flags are:
     *
     * DM_NO_SELF_DAMAGE        Weapons don't do self damage
     * DM_NO_FALLING_DAMAGE     No falling damage
     * DM_INFINITE_HEALTH       Infinite health (can only be killed by falling or crushed)
     * DM_INFINITE_ARMOR        Infinite armor
     * DM_INFINITE_AMMO         Infinite ammo
     * DM_DROP_WEAPONS          Drop used weapon on death if it was picked up
     * DM_DROP_START_WEAPONS    Drop used weapon on death if it was an starting weapon
     * DM_DROP_HOLDABLES        Drop holdables on death
     * DM_DROP_POWERUPS         Drop powerups on death
     * DM_TELEPORT_SPEED        Keep speed when jumping into a teleport
     * DM_TELEPORT_DIRECTION    Keep the direction when jumping into a teleport
     * DM_NO_FOOTSTEPS          Disable footsteps sounds
     * DM_NO_FALLING_SOUND      Disable falling (land crashing) sounds
     * DM_NO_QUAD_KNOCKBACK     Disable quad factor effect in self knocback
     **/
    DM Flags = DM_NO_SELF_DAMAGE|DM_NO_QUAD_KNOCKBACK;

    /* Team self damage factor
     *
     * When $g_friendlyFire is on, damage inflicted to teammates will hurt ourselves by the
     * value of this option
     **/
    Team Self Damage = 0.0;

    // Respawn in seconds
    Respawn Time = 1.7;

    // If specified, replaces Respawn Time after suicide
    Respawn Time Suicide = 3.0;

    /* Player hitbox
     *
     *   1.0 - default
     * < 1.0 - smaller box
     * > 1.0 - larger box
     **/
    Hit Box = 1.0;

    /* Floating Speed is a stepwise (smooth) speed adjustment used when
     * various speed factors take effect (like weapon weight or haste factor).
     * Floating Speed Rate is measured in UPS per second and it defines how fast
     * the speed will go to the final value. Null or negative rates are treated
     * as infinite (leading to one-step speed changes).
     **/
    Floating Speed Rate = 500;

    // Damage taken from world
    World Damage {
		Hurt = 1;
        Fall Medium = 0;
        Fall Far = 0;
        Lava = 30;
        Slime = 10;
        Water = 15;
    }

    /* Speed factor with Haste powerup
     *
     * Will be applied to player speed, weapon fire rate and weapon regeneration
     **/
    Haste Factor = 1.3;

    // Regen powerup amounts every second
    Regen Factors {
        // How much to increase health when it is under soft limit value
        Soft Health = 15;
        
        // How much to increase health when it is over soft limit value
        Hard Health = Soft Health / 3;
        
        // How much to increase armor when it is under soft limit value
        Soft Armor = 0;
        
        // How much to increase armor when it is over soft limit value
        Hard Armor = 0;
    }

    // Protection against damage with Battlesuit powerup
    Suit Factors {
        // Factor applied to damage inflicted directly
        Direct = 0.5;
        
        // Factor applied to damage provoked by splash hits
        Splash = 0;
    }

    // Speed fly factor with Flight powerup
    Flight Factor = 1.0;

    // Speed factor while swimming
    Swim Factor = 1.0;

    // Spawn with this amount of health, also medkit will heal the player until this value
    Health = 300;

    // Rot rate in milliseconds when health is over soft limit value
    Health Rot Rate = 1000;

    // Limit for regeneration/soft pickups
    Health Soft Limit = 300;

    // Maximum possible health
    Health Hard Limit = 600;

    // Regeneration in milliseconds
    Health Regen = 1000;
    Health Regen Amount = 5;

    // Spawn with this amount of armor
    Armor = 0;

    // Rot rate in milliseconds when armor is over soft limit value
    Armor Rot Rate = 1000;

    // Limit for regeneration/soft pickups
    Armor Soft Limit = 300;

    // Maximum possible armor
    Armor Hard Limit = 600;

    // Regeneration in milliseconds
    Armor Regen = 0;
    Armor Regen Amount = 1;

    Armor System {
        /* Armor System
         *
         *  0 - Regular VQ3 System
         *  1 - Quake I / CPMA System
         *  2 - Quake II System
         **/
        System = 0;

        /* Spawn with this Armor
         *
         * IT_ARMOR_JACKET (green)
         * IT_ARMOR_COMBAT (yellow)
         * IT_ARMOR_BODY   (red)
         **/
        Spawn Quality = IT_ARMOR_JACKET;

        // Limits for item pickups
        Jacket Limit = 100;
        Combat Limit = 150;
        Body Limit = 200;

        // Protection against damage
        Jacket Quality = 0.5;
        Combat Quality = 0.66;  // This applies for all systems, as you always have the combat armor
        Body Quality = 0.75;
    }

    Corpse {
        // Gib death bodys ($com_blood must be enabled)
        Gib = no;

        // Time in seconds until corpse dissapears
        Time = 5;
    }

    Missiles {
        // Made missiles destroyable by other weapons
        Destroyable = 0;
        
        // Teleport missiles through teleporters
        Teleport = 0;
    }

    Anti Camp {
        // Time in seconds, 0 disables camp protection
        Time = 0;

        // Apply camp protection to a max of this radius
        Radius = 500;
        
        // Damage to inflict every second after time is run out if the user keeps camping
        Damage = 65;
    }

    // Specific options for team red
    Team Red {
        Start Weapon = 0;
        Start Weapons = 0;
        Start Powerups = 0;
        Start Powerups Duration = 0;
    }

    // Specific options for team blue
    Team Blue {
        Start Weapon = 0;
        Start Weapons = 0;
        Start Powerups = 0;
        Start Powerups Duration = 0;
    }

    // Points applied if a team scores
    Team Score {
        Team = 1;
        Members = 0;

        Other Team = 0;
        Other Members = 0;
    }

    /* Tournament
     *
     * The opponent will score if you die, regardless of the way it happens
     **/
    Tournament -> Death Score = no;

    /* Capture the Flag
     *
     * Settings applied for flag gametypes
     **/
    Capture the Flag {
        // Auto return time in seconds
        Flag Time = 30;

        // Return flag on suicide
        Suicide Return = 0;

        // Scores
        Kill Carrier = 2;
        Defend Hurt Carrier = 2;
        Defend Carrier = 2;
        Defend Base = 1;
        Defend Flag = 1;
        Flag Return = 1;
        Flag Capture = 5;
        Flag Assist Return = 1;
        Flag Assist Frag = 2;

        if ( $g_gametype == GT_RTF ) {
            Flag Return *= 2;
        }
    }

    /* Freeze Tag
     *
     * Thaw times in seconds.
     *
     *   0 - No thawing
     * > 0 - Continue the thaw
     * < 0 - Forces a restart
     **/
    Freeze Tag {
        Thaw Time = -3;

        Self Thaw Time = Water Thaw Time = 120;
        Lava Thaw Time = Slime Thaw Time = 5;
        Void Thaw Time = 10;
        Crushed Thaw Time = 0.001;

        // Distance needed to defrost your team mate
        Thaw Distance = 100;

        // Points for defrosting
        Thaw Score = 2;

        // Thaw if the frozen body touches a teleport?
        Teleport Thaw = no;

        /* Defrost if you reach the damage.
         * You won't get any points for that.
         *
         *   0 - Disabled
         * > 0 - You can defrost your enemys, be careful were you are shooting at
         * < 0 - Only own team
         **/
        Damage Thaw = 1000;
        
        // Freeze player if teamkilled? If disabled, player will be crushed
        Teamkill Freeze = no;
    }

    /* Protect the Leader
     *
     * The current leader will have these settings applied
     **/
    Protect the Leader {
        Start Health = 125;
        Start Armor = 100;
        Start Armor Quality = IT_ARMOR_JACKET;
        Start Weapon = WP_GAUNTLET;
        Start Weapons = WP_GAUNTLET;
        Start Powerups = PW_REGEN;
        
        // Scores
        Kill Leader = 4;
        Defend Leader = 1;
        Assist Kill Leader = 1;
        
        // Score on leader suicide/teamkill?
        Leader Suicide Score = yes;
        
        /* Control which player stats are cleared when he stops being the leader
         *
         * RESET_HEALTH
         * RESET_ARMOR
         *
         * RESET_NONE
         * RESET_ALL
         **/
        Reset Flags = RESET_HEALTH | RESET_ARMOR;
    }
    
    /* Round end actions
     *
     * Settings applied to all round based gametypes
     **/
    Round {
        /* Items that are reset
         *
         * IT_ARMOR_SHARD
         * IT_ARMOR_JACKET
         * IT_ARMOR_COMBAT
         * IT_ARMOR_BODY
         * IT_HEALTH_SMALL
         * IT_HEALTH
         * IT_HEALTH_LARGE
         * IT_HEALTH_MEGA
         * IT_TELEPORTER
         * IT_MEDKIT
         *
         * IT_NONE
         * IT_ALL
         **/
        Items = IT_NONE;
        
        /* Controls which player stats are cleared
         *
         * RESET_HEALTH
         * RESET_ARMOR
         * RESET_WEAPONS
         * RESET_POWERUPS
         *
         * RESET_NONE
         * RESET_ALL
         **/
        Reset Flags = RESET_ARMOR | RESET_WEAPONS | RESET_POWERUPS;
        
        // Round warmup time, only when $xp_matchmode is 2
        Warmup = 4;
        
        // Shuld players respawn after round warmup? Only when $xp_matchmode is 2
        Warmup Respawn = $xp_warmupRespawn & WARMUPRESPAWN_PLAYERS;
        
        // Call for draw when all players are dead instead of deciding with the latest frag
        Draw Enable = no;
    }

    Items {
        // Make items shootable
        Shootable = no;

        // Speed at which items will be dropped
        Drop Speed = 1200;

        // Bounce damping factor [1...0...-1] that is equivalent to
        // [infinite bouncing...no bounce at all...infinite reflecting]
        Drop Bouncy = 0.125;

        // if Drop Gravity = no, then item will initially fly with no gravity
        // (straight forward) until the first bounce, and fall then
        Drop Gravity = yes;

        // These Attackerward drop settings control the flag dropping on death.
        // When the Attackerward Drop Speed is not null, then on death the flag will
        // be dropped right to the attacker with these speed, bouncy and gravity.
        // Certain settings are specified in the same way as for the item dropping
        Attackerward -> Drop Speed = 550;
        Attackerward -> Drop Bouncy = 0.2;
        Attackerward -> Drop Gravity = yes;
    }
}


/* Weapon Settings
 *
 * Common settings:
 *
 * - Cycle                 Weapon reload time
 *
 * - Damage                Amount of damage inflicted
 *
 * - Knockback             Damage and Knockback have been separated. You can have high damage
 *                         weapons but disable or lower the pushing effect. A negative value
 *                         will pull the player instead of pushing him. If not specified,
 *                         value is taken from Damage setting
 *
 * - Radius                Radius to apply to splash damage and for within splash and self
 *                         knockback have effect
 *
 * - Splash Damage         Max amount of splash damage to inflict, real damage will vary 
 *                         depending on the distance of the enemy to the explosion
 *
 * - Splash Knockback      Max amount of splash knockback to apply to other players. If not
 *                         specified, value is taken from Splash Damage setting
 *
 * - Self Knockback        Amount of splash knockback to apply only to self. A positive value
 *                         means radial knockback, whereas a negative value means a fixed value
 *                         regardless of the distance of the explosion. If not specified,
 *                         value is taken from Splash Knockback setting
 *
 * - Self Knockback HV     Horizontal/Vertical asymmetry control for the Self Knockback
 *                         It may vary in range [1...0...-1] and that is equivalent to
 *                         [just horizontal...symmetric...just vertical] knockback proportion
 *
 * - Self Slide Factor     Multiplier to the time to slide with no control, no friction
 *                         and no gravity after being kicked by self
 *
 * - Firing Knockback      Amount of knockback to apply to self when firing the gun, wich 
 *                         produces a kick effect
 *
 * - Firing Knockback HV   Horizontal/Vertical asymmetry control for the Firing Knockback.
 *                         Range and meanings see the Self Knockback HV description.
 *                         While standing on ground the vertical portion of firing knockback
 *                         will be not greater than (limited to) its horizontal portion
 *
 * - Team Knockback        Same as Knockback but applied to your teammates when you attack them.
 *                         If specified, it will replace the Knockback for the team attack
 *
 * - Team Splash Knockback Same as Splash Knockback but applied to your teammates when you 
 *                         attack them. If specified, it will replace the Splash Knockback
 *                         for the team attack
 *
 * - Ammo                  Amount of ammo to spawn for with that weapon
 *
 * - Ammo Limit            Limit ammo pickups up to this value
 *
 * - Regen                 Number of milliseconds for which to regenerate 1 ammo unit up to
 *                         the value of the Ammo. Weapon must not be firing to take effect
 *
 * - Sky                   If enabled, the weapon and missiles will hit the sky/black box
 *
 * - Weight                Weitgh of the weapon. Player Speed = Player Speed / Weapon Weight
 *
 * - Bounce                Number of times to bounce the shots/missiles before they explode.
 *                         A value of -1 will bounce max times alowed by the mod
 *
 * - Speed                 Only for missiles. Speed at which missiles move
 *
 * - Gravity               Only for missiles. If enabled, the missile will be affected by
 *                         gravity
 *
 * - Time To Live          Only for missiles. Number of seconds for the missile to run before
 *                         it explodes
 *
 * - Time -> *             Weapon switch time specific settings. A value of 0 for any of these
 *                         setting will use global value instead
 *
 * - Style                 Weapon style bitmask. Available flags (some weapons do have addition 
 *                         styles available, see the specific weapon section):
 *                             WPS_RAILTRAIL           Produce a rail trail (available only for
 *                                                     machinegun, shotgun and railgun)
 *                             WPS_IMPACT_MACHINEGUN   Produce a machinegun bullet impact
 *                             WPS_IMPACT_SHOTGUN      Produce a shotgun bullet impact
 *                             WPS_IMPACT_GRENADE      Produce a grenade explosion
 *                             WPS_IMPACT_ROCKET       Produce a rocket explosion
 *                             WPS_IMPACT_PLASMA       Produce a plasma explosion
 *                             WPS_IMPACT_RAIL         Produce a rail impact
 *                             WPS_IMPACT_BFG          Produce a bfg explosion
 **/

Gauntlet {
    Cycle = 400;
    Damage = 600;
    Knockback = Damage;
    Team Knockback = 0;
    Weight = 1.0;

    // How long-distance is the gauntlet attack (in game units, while a player is normally 30x30x56)
    Distance = 35;

    /* Gauntlet Style
     *
     * WPS_GAUNTLET_DYNAMIC_WEIGHT  Gauntlet Firing Weight will be applied only while
     *                              you are contacting with ground or swimming
     **/
    Style = WPS_GAUNTLET_DYNAMIC_WEIGHT;

    Firing Weight = 0.7618;
    Time -> Dropping = 0;
    Time -> Raising = 0;
    Time -> Shooting = 0;
}

Railgun {
    Cycle = 600;
    Damage = 350;
    Knockback = 280;
    Splash Damage = 100;
    Splash Knockback = 80;
    Radius = 100;
    Self Damage = 0;
    Self Knockback = -132;
    Self Knockback HV = 0.0;
    Self Slide Factor = 1.0;
    Firing Knockback = 64;
    Firing Knockback HV = -0.25;
    Team Knockback = 224;
    Team Splash Knockback = 64;
    Regen = 1500;
    Ammo = 50;
    Ammo Limit = 50;
    Style = WPS_RAILTRAIL | WPS_IMPACT_RAIL | WPS_IMPACT_ROCKET;
    Bounce = no;
    Sky = no;
    Weight = 1.0;
    Firing Weight = 1.0;
    Max Hits = 4;
    Time -> Dropping = 0;
    Time -> Raising = 0;
    Time -> Ammo = 0;
    Time -> Shooting = 0;
}
